@{
    ViewData["Title"] = "Home Page (Pandu Umapathy)";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use the navigation to manage candidates, voters, and cast votes.</p>

    <p>
        <a href="/Voter/Vote">lets goto Voting Page</a>
    </p>
    <p>
        <a href="/Candidate/Index">lets goto Candidates Page</a>
    </p>
    <p>
        <a href="/Voter/Index">lets goto Voters Page</a>
    </p>
</div>