@model IEnumerable<VoterWebApp.Models.Candidate>

@{
    ViewData["Title"] = "Candidates";
}

<h1>Candidates</h1>

<p>
    <a href="/Candidate/Create">Add New Candidate</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Votes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Votes</td>
            </tr>
        }
    </tbody>
</table>